* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121826;
    font-family: "Jost", serif;
    background-image: url(/simple-feature-section-master/resources/Background_image.svg);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px;
}

h1 {
    color: #E5E7EB;
    text-align: center;
    font-size: 40px;
    width: 450px;
    margin-bottom: 15px;
}

span {
    color: #9DA3AE;
}

.containersDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.squareInfo {
    margin-bottom: 40px;
    margin-left: 23px;
    margin-right: 23px;
    padding-top: 25px;
    padding-left: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #212936;
    border-radius: 17px;
    width: 290px;
    height: 450px;
}

.emoji {
    background-color: bisque;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 20px;
    
}

.text {
    padding-right: 39px;
    margin-bottom: 14px;
}

h2 {
    color: #E5E7EB;
    font-size: 20px;
}

p {
    color: #9DA3AE;
    font-size: 16px;
}

img {
    border-radius: 10px;
}